.man {
  position: inherit;
}

.task-table-list {
  position: absolute;
}

.paper {
  position: absolute;
  overflow: hidden;
  padding-bottom: 5px;
  width: inherit;
}

.dev_team {
  background-color: #CAF1FF;
}

.text-more {
  font-weight: bold;
}

/* STATUSES */

.test_ready {
  /*fill : red;*/
}

.update_l10n {
  fill : #FF8D00;
}

.reopened {
  fill : #FF00FF;
}

.wtf {
  fill : #FF00FF;
}

.wbs {
  fill : #00FFFF;
}

.code_review, .resolved{
  fill : yellow;
}

.in_progress {
  fill: #3CD216;
}

.merge_ready {
  /*fill : orange;*/
}

.merge_failed {
  fill : red;
}

.contains_bugs {
  fill : red;
}

.subtasks {
  /*fill: #00FfFf !important;*/
}

.subtask-separator{
  stroke : #777;
  stroke-width : 2px;
  stroke-dasharray: 1,3;
}

body {
  color: white;
  background-color: black;
}

text {
  font-size: 18px;
  font-family: Arial, sans-serif;
  fill : white;
  -webkit-font-smoothing: antialiased;
}

.duedate-missed {
  fill : red !important;
  text-anchor: end;
  font-size: 16px;
}

.text-hours {
  fill: #666 !important;
  text-anchor: end;
  font-size: 16px;
}

.text-hours-normal-anchor {
  text-anchor: start !important;
}

.subtasks.text-hours {
  fill: #007777 !important;
}

.white {
  fill: white !important;
}

.text-task-number {
}

.textline {
  color: white;
  text-anchor : start;
}

.message {
  padding-top: 50px;
  font-size : 40px;
  text-align: center;
}

.man_name {
  fill: white;
  font-size : 20px;
  font-weight : bold;
}

/* SPENT TIME STILES >>>> */

.bar {
  /*fill: steelblue;*/
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.man-timespent-background2 {
    fill : gray;
}

.man-timespent-background{
  fill : #1E1E1E;
}

.text-timespent-names {
  text-anchor: end;
  alignment-baseline: before-edge;
  fill: white;
  font-size : 16px;
  /*font-weight : bold;*/
}

.text-task-keys {
  text-anchor: start;
  alignment-baseline: before-edge;
  fill: #000;
  font-size : 15px;
  font-weight : bold;
}

.timespend-split-screen {
  /*float: left;*/
  display: -webkit-box;
}
.timespend-view {
  /*display: -webkit-box;*/
  display: block;
}