.man {
  /*border: solid 1px #444444;*/
  width: 462px;
  position: absolute;
}

.paper {
  position: absolute;
  width: 462px;
  overflow: hidden;
  padding-bottom: 5px;
}

.dev_team {
  background-color: #CAF1FF;
}

.test_ready {
  /*fill : #00FFFF;*/
}

.code_review {
  fill : yellow;
}
.in_progress {
  fill : lightgreen;
}

.merge_ready {
  /*fill : orange;*/
}

.subtasks {
  fill: #00FfFf !important;
  /*opacity: 0.5;*/
}

body {
  color: white;
  background-color: black;
}

text {
  font-size: 18px;
  font-family: Arial, sans-serif;
  fill : white;
  -webkit-font-smoothing: antialiased;
  /*font-family: 'Verdana', monospace;*/
}
.text-hours {
  opacity: .7;
  text-anchor: end;
  fill: white !important;
}
.text-task-number {
}

.textline {
  color: white;
  text-anchor : start;
}

.message {
  font-size : 40px;
  text-align: center;
}

.man_name {
  fill: white;
  font-size : 20px;
  font-weight : bold;
}